{% extends "main_template.html" %}}
{% block head %} {% endblock %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
    {% elif field.flags.error %}
</div>
{% else %}
<div>
    {% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    <div class="mb-3">
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
</div>
{% endmacro %}

<div>
    <div>
        <legend>Forgot Password</legend>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div>
            {% for error in errors %}
            {{ error }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% if form.errors %}
        <div>
            {% for field, error in form.errors.items() %}
            {% for e in error %}
            <div class="alert alert-danger" role="alert">
              {{ e }}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <form class="form" method="POST" action="." accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            {{ render_field(form.email, placeholder="Your Email Address") }}
            <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %} {% endblock %}
{% block endjs %} {% endblock %}